.carnet {
    width: 340px;
    height: 535px;
    background: white;
    border-radius: 22px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 28px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

/* ---- BARRA SUPERIOR ---- */
.barra-superior {
    width: 100%;
    height: 80px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-unsch {
    padding: 10px;
    width: 150px;
}

.qr-img {
    width: 80px;
    height: 80px;
    background: white;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    object-fit: contain;
}

/* ---- FOTO ---- */
.marco-foto {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #004b85;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-usuario {
    width: 100%;
    height: auto;
}

/* ---- DATOS ---- */
.info {
    text-align: center;
    margin-top: 10px;
}
.info p {
    margin: 4px 0;
    font-size: 0.95rem;
    color:black
}

/* ---- CÓDIGO DE BARRAS ---- */
.codigo-barra-img {
    width: 100%;
    background: white;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 12px;
}

.nota-pie {
    font-size: 0.75rem;
    color: #555;
    text-align: center;
    margin-top: 8px;
    padding: 0 10px;
    font-style: italic;
}

/* ---- COLORES ESPECÍFICOS POR ROL ---- */
.estudiante-color { background: #5c0000; }
.admin-color { background: #004999; }
.docente-color { background: #006b1b; }
.vigilante-color { background: #000; }
