.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: #ff5252;
    color: #fff;
    text-align: center;
}

.error-container button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    color: #ff5252;
    font-weight: bold;
    cursor: pointer;
}
